
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#f8f9fa,#080bec);
    }
    
.header {
    font-family: 'Germania One' , sans-serif;
    text-shadow: 6px 6px #fc1212;
    color:#ffe603;
    text-align: center;
    font-size: 6em; 
    padding: 50px; 
}

.banner-img {
width: 100%;


}

#info-container{
    grid-column: 1 / -1;
    display: list-item;
    justify-content: space-between;
}


.guide-flip-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    color: #ffe603;
    text-shadow: 6px 6px #fc1212;
    font-size: 3em;
    font-family: 'Germania One', sans-serif;
}

.guide-button {
    display: list-item;
    background-color: rgba(60, 60, 60, 0.85);
    max-width: 100vw;
    height: 100px;
    margin: auto;
    font-family: "Germania One", sans-serif;
    font-size: 1em;
    color: #ffe603;
    text-shadow: 6px 6px #fc1212;
    transition: all 2ms ease-in-out;
    border: solid 2px;
}

.guide-button:hover {
    transform: scale(1.1);
}

.flips {
    width: 250px;
    height: 100px;
    border: solid 2px #ffe603;
    margin: auto;
    background-color: rgba(60, 60, 60, 0.85);
    text-shadow: 6px 6px #fc1212;
}


.game-container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.card:hover .card-back /*visible*/{
    transform: rotateY(-180deg);
}
.card:hover .card-front /*visible*/{
    transform: rotateY(0);
}
.card {
    height: 175px;
    width: 125px;
    position: relative;
    transition: all .5s ease-in-out;
}

.card-front{
    transform: rotateY(180deg);
}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid; 
    transition: transform 500ms ease-in-out; 
}

.card:hover { 
    transform: scale(1.1);
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0);
    transition: transform ease-in-out 100ms;
}

.contact-button {
    display: list-item;
    background-color: rgba(60, 60, 60, 0.85);
    width: 450px;
    max-width: 100vw;
    height: 100px;
    margin: auto;
    font-family: "Germania One", sans-serif;
    font-size: 2em;
    color: #ffe603;
    text-shadow: 6px 6px #fc1212;
    transition: all 2ms ease-in-out;
}
.contacthead {
    margin:auto;
}

.contact-button:hover {
    transform: scale(1.1);
}

 .form-section {
     clear: left;
     align-items: center;
     justify-content: center;
     margin-top: 10%;
}
 #form-container {
     left:0;
}
 .signup-form {
     color: #FFFFFF;
     background-color: rgba(60, 60, 60, 0.85);
     width: 450px;
     padding: 30px;
     max-width: 100vw;
     margin-bottom: 8%;
     margin: auto;
}
 .signup-form h2 {
     color: #FFFFFF;
     margin-bottom: 20px;
}
 .text-input {
     background: transparent;
     color: #FFFFFF;
     width: 100%;
     height: 25px;
     margin: 5px 0 20px 0;
     border: 1px solid #FFFFFF;
     border-radius: 2px;
}
 #message {
     background: transparent;
     color: #FFFFFF;
     width: 100%;
     height: 100px;
     margin: 5px 0 20px 0;
     border: 1px solid #FFFFFF;
     border-radius: 2px;
}
 .text-input:hover{
     border-color: #030177;
}
 .submit-button {
     margin-top: 20px;
     border-radius: 2px;
     padding: 15px 32px 15px 32px;
     text-align: center;
     font-size: 2em;
     background-color: #030177;
     color: #ffe603;
    text-shadow: 6px 6px #fc1212;
    font-family: "Germania One", sans-serif;
     display: block;
    
}
 .submit-button:hover{
     background-color: #FFFFFF;
     color: #030177;
}

footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.footer ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    margin: auto;
    font-family: 'Germania One', sans-serif;
    font-size: 3em;
    position: static;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer a {
    color: #ffe603;
    text-shadow: 6px 6px #fc1212;
    transition: all 200ms ease-in;
    justify-items: center;
    text-align: center;
}

.footer li:hover {
    transform: scale(1.1);
}

@media (max-width: 500px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .inst-flip-container {
        flex-direction: column;
        align-items: center;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }

    .guide-button {
        flex-direction: column;
        align-items: center;
    }
}
